[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
envoy_reader = "*"
prometheus_client = "*"
ipython = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[packages.e1839a8]
path = "."
editable = true
